.table-container {
  width: 75%;
}

.home-container {
  display: flex;
  flex-direction: column;;
  align-items: center;
}

.button-container {
  padding-top: 30px;
  padding-bottom: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 75%;
}
